{% load static custom_tags %}

<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            
            <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="bi bi-people"></i>

                    <span class="nav-text">CLIENTS</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'dashboard:instructor-students' %}">Clients RR</a></li>
                    <li><a href="{% url 'dashboard:allclients' %}">All Clients</a></li>

                </ul>

            </li>
            <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="bi bi-file-earmark-spreadsheet"></i>
                    <span class="nav-text">SALES</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'dashboard:table-datatable-basic' %}">All sales</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>