{% load static custom_tags %}

<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            
            <hr>
            {% for group in request.user.groups.all %}
            {% if group.name == "clients" %}
            <li><a  href="{% url 'dashboard:clients' %}" >
                <i class="bi bi-people"></i> 
                <span class="nav-text">CLIENTS</span></a>

                    <ul aria-expanded="true">
                        
                        <li><a href="{% url 'dashboard:clients' %}"> Accounts </a></li>
                        <li><a href="{% url 'dashboard:adjustment' %}"> Adjustments </a></li>                       

    
                    </ul>

            </li>
            {% endif %}
            {% endfor %}

            {% for group in request.user.groups.all %}
            {% if group.name == "sales" %}
            <li><a href="{% url 'dashboard:sales' %}">
                <i class="bi bi-file-earmark-spreadsheet"></i>
                <span class="nav-text">SALES</span></a>
            </li>
            {% endif %}
            {% endfor %}

            {% for group in request.user.groups.all %}
            {% if group.name == "admin" %}            

            <li>
                <a href="{% url 'dashboard:cancellations' %}">
                    <i class="bi bi-dash-circle"></i>
                    <span class="nav-text">CANCELLATIONS</span>
                </a>
            </li>
            {% endif %}
            {% endfor %}

            {% for group in request.user.groups.all %}
            {% if group.name == "expenses" %}            
            <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                <i class="bi bi-bag-dash-fill"></i>
                <span class="nav-text">EXPENSES</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'dashboard:expenses' %}"> ALL </a></li>
                    <li><a href="{% url 'dashboard:employees' %}"> WAGES STAFF </a></li>
                    {% for group in request.user.groups.all %}
                    {% if group.name == "admin" %}  
                    <li><a href="{% url 'dashboard:ceo' %}"> WAGES CEO </a></li>
                    {% endif %}
                    {% endfor %}

                </ul>
            </li>
            {% endif %}
            {% endfor %}

            {% for group in request.user.groups.all %}
            {% if group.name == "admin" %}    
            <hr>
     
            <li>
                <a href="{% url 'dashboard:setting' %}">
                    <i class="fa-solid fa-gear"></i>
                    <span class="nav-text">SETTINGS</span>
                </a>
            </li>


            <li>
                <a href="{% url 'dashboard:activity' %}">
                    <i class="fa-regular fa-clock"></i>
                    <span class="nav-text">ACTIVITY</span>
                </a>
            </li>
            {% endif %}
            {% endfor %}

            <hr>

        </ul>
    </div>
</div>