{% load static %}
{% if editemployee.sales %}

<div class="d-flex flex-row-reverse my-4">
    <a class="btn btn-primary light fs-4" href="{% url 'dashboard:employee_comms' id=editemployee.id %}">
        COMMs History
        <span class="btn-icon-end">
            <i class="fa-regular fa-calendar fs-3"></i>
        </span>
    </a>   
</div>

<div class="mt-4">
    <div class="table-responsive">
        <table id="example5" class="display mb-4" style="min-width: 845px">
            <thead>
                <tr>                   
                    <th>DATE</th>
                    <th>CLIENT</th>
                    <th>SALE</th>
                    <th>KIND</th>
                    <th>%</th>
                    <th>COMM</th>
                </tr>
            </thead>
            
            <tbody>
                {% for i in editemployee.get_sales_this_m.all %}
                
                <tr>

                    <td>{{i.date|date:"d/m/Y"}}</td>
                    
                    
                    <td><a href="{% url 'dashboard:editclient' id=i.client.id %}"> {{i.client}}</a></td>
                    
                    


                    <td><a href="{% url 'dashboard:editsale' id=i.id %}">{{i.service}} ${{i.change|floatformat:2}}</a></td>

                    <td>{% if i.revenue == "OneOff" %} OneOff {% else %} {% if i.kind == " - " %} New Client  {% else %}{{i.kind}} {% endif %} {% endif %}</td>


                    <td>{% if i.revenue == "OneOff" %}
                            {{comms_conf.one_off}} %
                        {% else %}
                            {% if i.kind == "Upsell" %}
                                {{comms_conf.up_sell}} %
                            {% else %}
                               {% if comms_this_m.rr_percent == 1 %} {% else %}{{comms_this_m.rr_percent}} %{% endif %}
                            {% endif %}
                        
                        {% endif %} 
                    </td>

                    <td>${{i.get_comm|floatformat:2}}</td>

                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
        
</div>
{%endif%}





