{% extends 'dashboard/elements/layouts/admin.html' %}
{% load humanize %}

{% load static %}

{% block additional_css %}

{% endblock %}

{% block content %}



        <!-- row -->


        <div class="row">


            <div class="col-12">

                <div class="card p-2">                      
                                        
                                   
                    <div class="card-body">
                        
                        <form method="post">
                            {% csrf_token %}
                            <div id="typeform">
                            {{adjform.type}}
                            </div>

                            <div id="clientform" style="display:none;">
                                <input type="text" name="client" id="client" class="form-control" placeholder="Client" autocomplete="on" list="clients">
                                    <datalist id="clients">
                                    {% for client in clients %}
                                    <option value="{{ client.name }}">
                                    {% endfor %}
                                    </datalist>

                            </div>

                            <div id="serviceform" style="display:none;">
                            {{adjform.service}}
                            </div>
                        </form>

                            
                    </div>

                </div> 


            </div>
            
        </div>


        


  


{% endblock %}

{% block additional_js %}

<script>
    var type = document.getElementById("type");
    var clientdiv = document.getElementById("clientform");
    clientdiv.style.display = (type.value !== "---------") ? "none" : "block";
    type.onchange=function(){
    
        if(this.value=="Account"){
            clientdiv.style.display="block";  
        }else if(this.value=="Service"){
            clientdiv.style.display="block"; 
        }else{
            clientdiv.style.display="none";
        }
    }        
</script>

<script>
    $(document).ready(function() {
      var $clientField = $('#client');
      var $clientForm = $('#clientform');
      var $clientInput = $clientField.find('input');
  
      $clientInput.autocomplete({
        source: '/client-autocomplete/',
        minLength: 2,
        select: function(event, ui) {
          $clientInput.val(ui.item.value);
          return false;
        },
        focus: function(event, ui) {
          $clientInput.val(ui.item.value);
          return false;
        }
      });
  
      $clientInput.on('input', function() {
        if ($clientInput.val() === '') {
          $clientForm.hide();
        } else {
          $clientForm.show();
        }
      });
    });
  </script>



{% endblock %}
