{% extends 'dashboard/elements/layouts/admin.html' %}
{% load humanize %}

{% load static %}

{% block additional_css %}

{% endblock %}

{% block content %}



        <!-- row -->


        <div class="row">


            <div class="col-12">

                <div class="card p-2">                      
                                        
                                   
                    <div class="card-body">
                        

                        <a class="btn btn-primary" href="#" id="account-btn"> ADJ account  </a>
                        
                        <a class="btn btn-secondary" href="#" id="service-btn"> ADJ service  </a>
                        
                        

                        <div id="select-account">
                            title: search account
                            searchbar

                            <a class="btn btn-primary" href="#" id="account-adj"> ADJ  </a>


                        </div>


                        <div id="select-service">
                            title: search service
                            searchbar

                            <a class="btn btn-primary" href="#" id="service-adj"> ADJ  </a>
                            
                        </div>


                            
                    </div>

                </div> 


            </div>
            
        </div>


        


  


{% endblock %}

{% block additional_js %}


  

{% endblock %}
