{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}
        
   
<!-- main -->
<div class="row">
    <div class="col-xl-12 col-md-6">
        <div class="card">
            <div class="card-body">
				<form method="get" name="filter">
					<div class="form-group">
						<label for="service">Service:</label>
						{% for service in services %}
						<input type="checkbox" name="service" id="{{service}}" value="{{service}}">
						<label for="{{service}}">{{service}}</label>
						{% endfor %}
					</div>
					<div class="form-group">
						<label for="kind">Kind:</label>
						{% for k in kind %}
						<input type="checkbox" name="kind" id="{{k}}" value="{{k}}">
						<label for="{{k}}">{{k}}</label>
						{% endfor %}
					</div>
					<div class="form-group">
						<label for="revenue">Revenue:</label>
						{% for r in revenue %}
						<input type="checkbox" name="revenue" id="{{r}}" value="{{r}}">
						<label for="{{r}}">{{r}}</label>
						{% endfor %}
					</div>
					<div class="form-group">
						<label for="cancelled">Cancelled:</label>
						{% for c in cancelled %}
						<input type="checkbox" name="cancelled" id="{{c}}" value="{{c}}">
						<label for="{{c}}">{{c}}</label>
						{% endfor %}
					</div>
				
					<button class="btn btn-dark px-4" type="submit" name="filter">Filter</button>
				</form>
				
				
            </div>	
        </div>
    </div>
</div>

<!-- main -->
<div class="row">
    <div class="col-xl-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <h2>DATA:</h2>
                {% for d in sales %}
                    <p>{{d}}</p>
                {% endfor %}	
            </div>	
        </div>
    </div>
</div>






{% endblock %}

{% block additional_js %}
{% endblock %}
