{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}

        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Services</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard:editclient' id=editservice.client.id %}" > {{editservice.client}} </a>  </li>
                <li class="breadcrumb-item active"> {{editservice.service}} service </li>

            </ol> 
        </div>
       
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> {{editservice.service}} - {{editservice.client}} </h4>
                    </div>
                    <div class="card-body mt-0 pt-0">
                        <div class="basic-form">
                                    <div class="pt-1 pb-4">
                                        <div class="formcontrol">                                 <div class="form-group my-3">
                                                    <div class="fs-5 ml-4">
                                                        Created at: {{editservice.created_at}}
                                                    </div>
                                                    
                                                    <div class="fs-5 ml-4">
                                                        Value ${{editservice.total|floatformat:2}} 
                                                    </div>

                                                    {% if editservice.sales|length > 0 %}
                                                    <div class="fs-5 ml-4">
                                                        Sale{% if editservice.sales|length == 1 %}{% else %}s{% endif %}:  
                                                        {% for sale in editservice.sales %}
                                                        <a href="{% url 'dashboard:editsale' id=sale.id %}">
                                                        {{sale.date|date:"d/m/Y"}} ${{sale.change|floatformat:2}}</a>
                                                        {% endfor %} 
                                                    </div>
                                                    {% endif %}

                                                    {% if editservice.adj|length > 0 %}
                                                    <div class="fs-5 ml-4">
                                                        Adjustment{% if editservice.adj|length == 1 %}{% else %}s{% endif %}:  
                                                        {% for a in editservice.adj %}
                                                        {{a.adj_percent}}% 
                                                        {{a.notice_date|date:"d/m/Y"}} ${{a.new_value|floatformat:2}}

                                                        {% endfor %} 
                                                    </div>
                                                    {% endif %}

                                                    {% if editservice.state == False %}
                                                    <div class="fs-5 ml-4">
                                                       {% if editservice.client.cancelled == "Cancelled" %}Account {% else %} Service {% endif %} cancelled  
                                                        

                                                       <div class="form-floating my-2 d-flex flex-row-reverse">                                     {% if service.state == False %}
                                                        
                                                        <a href="{% url 'dashboard:restoreservice' id=service.id %}" class="btn btn-success px-3 fs-3">Restore Service
                                                        </a>
                                                        {% endif %}
                                                        
                                                    </div>
                                                                                                       
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>       

                                        

                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}





{% block additional_js %}





{% endblock %}