
<!-- Modal -->
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
               
            <div class="modal-body text-center py-5">
                <h3 class="fs-5 my-3">                       {% if 'accounts' in request.GET %}
                    {{client}} {% else %} {{sale.service}} {{sale.client}} {% endif %} </h3>
                <h1 class="fs-5 my-3">SET % ADJUSTMENT</h1>

                <form method="post">
                    {% csrf_token %}
                    {{ raiceform.last_adj }}
                    <br>
                    <p>Date of email Notification</p>
                    {{raiceform.adj_at}}

                    {% if 'accounts' in request.GET %}
                    <input type="hidden" name="id" value="{{ client.id }}">
                    {% else %}

                    <input type="hidden" name="id" value="{{ sale.id }}">
                    {% endif %} 


                    <button type="submit"{% if 'accounts' in request.GET %} name="adjaccount"{%else%} name="adjservice"{%endif%} class="shadow-sm btn btn-info fs-6 p-3 my-4">
                        <i class="bi bi-envelope"></i> Send Notification and auto update Price
                    </button>
                </form>



                
                <div class="form-floating mt-5">
                    <a href="{% url 'dashboard:adjustment' %}" class="btn fs-7 mx-2">
                        <i class="fa-solid fa-arrow-left me-2 fs-7"></i> Nop, go back
                    </a>
                   
                </div>
            </div>

    </div>
</div>
