z{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}


<!-- GRAPHS -->
<div class="row">

    
<!-- END GRAPHS -->



<!-- MAIN all CLIENTS -->
        <div class="col-xl-12">            
            <div class="card students-list py-3">

                <div class="d-flex flex-row-reverse mx-4">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn tp-btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Back Up</button>
                        <div class="dropdown-menu" style="margin: 0px;">
                            <a class="dropdown-item" href="{% url 'dashboard:exportclients' %}">Create BACKUP</a>
                            <a class="dropdown-item" href="{% url 'dashboard:importclients' %}">Import BACKUP</a>
                        </div>
                    </div>
                </div>

                           
                <!-- TABLE CLIENTS -->
                <div class="card-body py-0 my-3">
                    <div class="table-responsive">
                        <table id="example4" class="display py-4 my-5" style="min-width: 845px">                            <thead>
                                <tr>
                                    <th>ACCOUNT</th>
                                    <th>TIER</th>
                                    <th>DATE</th>
                                    <th>WEBSITE</th>
                                    <th>EMAIL</th>
                                    <th>PHONE</th>
                                    <th>STATE</th>
                                    <th>RR</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>{% if clients %}
                                {% for client in clients %}
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a class="mb-0 fs-16 font-w500" href="{% url 'dashboard:editclient' id=client.id %}">{{client.name}}</a>
                                        </div>
                                    </td>
                                    <td>{{client.tier}}</td>
                                    <td>{{client.get_date}}</td>
                                    <td>{{client.website}}</td>
                                    <td>{{client.email}}</td>
                                    <td>{{client.phone_number}}</td>

                                    

                                    {% if client.cancelled == "Cancelled" %}
                                    <td> <div class="d-flex align-items-center">
                                        <span class="badge light badge-danger">
                                        cancelled
                                    </span>  </div> </td>
                                    {% else %}
                                    <td> <div class="d-flex align-items-center">
                                        <span class="badge light badge-success">
                                       active
                                    </span> </div> </td>
                                    {% endif %}
                               

                                    <td>{{client.rr}}</td>                                    
                                    <td>
                                        <div class="d-flex flex-row">
                                            
                                                <!-- delete BUTTON -->
                                                    <button type="button" class="shadow-sm btn btn-danger px-3 mx-1" data-bs-toggle="modal" data-bs-target="#deleteclient{{client.id}}">
                                                    <i class="fa-solid fa-trash fs-7"></i>
                                                    </button>                                                                                  
                                                <!-- edit BUTTON -->
                                                    <a href="{% url 'dashboard:editclient' id=client.id %}" class="px-3 shadow-sm btn btn-secondary mx-1">
                                                        <i class="fa-solid fa-pen-to-square "></i>
                                                    </a>                                                
                                        </div>                                        
                                    </td>
                                </tr>
                                {% endfor %}
                                {%endif%}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-header border-0 flex-wrap pb-0 mb-3 d-flex flex-row-reverse">
                    <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">New Account<span class="btn-icon-end">
                        <i class="fa fa-plus"></i></span>
                </div>     
            </div>
            
        </div>
        
    </div>
<!-- end MAIN clients -->


<!-- modals delete clients -->
    {% for client in clients %}
        <div class="modal" id="deleteclient{{client.id}}">
            {% include 'dashboard/instructor/deleteclient.html' %}
        </div>
    {% endfor %}


<!-- START modal add client -->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add a new Client</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>           
                <form  method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {% for field in addform %}
                        <div class="my-3">
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="form-floating my-3 text-center">
                        <button type="submit" class="shadow-sm btn btn-secondary" name="addclient"><i class="fa-solid fa-check me-2"></i> Submit</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
<!-- END modal add client -->
{% endblock %}


{% block additional_js %}
    <!-- NEWMODAL -->
        <script>
            const deleteclient = new bootstrap.Modal('#deleteclient',   {keyboard: true}    )
        </script>
{% endblock %}