{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}


<!-- MAIN CANCELLATIONS -->

    <div class="row">
        <div class="col-xl-12">            
            <div class="card students-list">
                          
                <!-- TABLE CANCELLATIONS -->
                <div class="card-body py-4">
                    <div class="table-responsive">
                        <table id="example4" class="display  pb-5" style="min-width: 845px">                            <thead>
                                <tr>
                                    <th>DATE</th>

                                    <th>ACCOUNT</th>
                                    <th>ACC/SERV</th>
                                    <th>SERVICE</th>
                                    <th>$$</th>
                                    <th>DO WE FAIL?</th>
                                    <th>COMMENT</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% if sales_cancelled %}
                                    {% for sale in sales_cancelled %}
                                    <tr>
                                        <td> {% if sale.date_can %} {{sale.date_can}}
                                            {% else %} add date !! {% endif %}</td>
                                        

                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a class="mb-0 fs-16 font-w500"  href="{% url 'dashboard:editclient' id=sale.client.id %}">{{sale.client}}</a>
                                            </div>
                                        </td>
                                        <td> {% if sale.client.cancelled == "Cancelled" %} ACCOUNT 
                                              {% else %} SERVICE {% endif %}
                                        </td>
                                        <td>
                                            {% if sale.revenue == "RR" %}
                                           <a href="{% url 'dashboard:editsale' id=sale.id %}"> {{sale.service}} </a>
                                            {% endif %} 
                                        </td>
                                        <td>${{sale.price}}</td>
                                        <td>{{sale.fail_can}}</td>
                                        <td><div class="d-flex align-items-center">
                                            {{sale.comment_can}}</div></td>    
                                    {% endfor %}
                                {%endif%}



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end MAIN clients -->

{% endblock %}


{% block additional_js %}
{% endblock %}