{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static %}{% load humanize %}


{% block additional_css %}
{% endblock %}

{% block content %}


<!-- MAIN CANCELLATIONS -->

    <div class="row">
            
            

        <div class="col-xl-4 col-xxl-4 col-lg-4 col-sm-12">
            <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="me-3 bgl-danger text-danger">
                                <svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                                    <line x1="12" y1="1" x2="12" y2="23"></line>
                                    <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                </svg>
                            </span>
                            <div class="media-body">
                                <p class="mb-1">{{month}}</p>
                                <h4 class="mb-0">- {{total}}</h4>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    
            <div class="col-xl-4 col-xxl-4 col-lg-4 col-sm-12">
                <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="me-3 bgl-success text-success">
                                <svg id="icon-customers" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </span>
                            <div class="media-body">
                                <p class="mb-1">Accounts {{month}}</p>
                                <h4 class="mb-0">{{clients}} </h4>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    
            <div class="col-xl-4 col-xxl-4 col-lg-4 col-sm-12">
                <div class="widget-stat card">
                    <div class="card-body p-4">
                        <div class="media ai-icon">
                            <span class="me-3 bgl-info text-info">
                                <svg id="icon-database-widget" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database">
                                    <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
                                    <path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path>
                                    <path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path>
                                </svg>
                            </span>
                            <div class="media-body">
                                <p class="mb-1">Services  {{month}}</p>
                                <h4 class="mb-0">{{sales}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    

        <div class="col-xl-12">  

            <div class="card students-list">
                
                <div class="d-flex flex-row-reverse mx-5 mt-3">

                    <form id="date-filter-form">
                        <div class="row">

                        <div class="col-lg-6 col-l-6 col-m-6 ">

                            <div class="form-group mr-3">
                            <label for="year">Year:</label>
                            <select id="year" name="year" class="form-control">
                                <option value="">All</option>
                                <option value="2025">2025</option>
                                <option value="2024">2024</option>
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-l-6 col-m-6 ">

                            <div class="form-group ">
                            <label for="month">Month:</label>
                            <select id="month" name="month" class="form-control">
                                <option value="">All</option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                            </div>
                        </div>
                    </div>

                    </form>

                </div>

                <!-- TABLE CANCELLATIONS -->
                <div class="card-body py-4">
                    <div class="table-responsive">
                        <table id="example4" class="display  pb-5" style="min-width: 845px">                            <thead>
                                <tr>
                                    <th>DATE</th>
                                    <th>ACCOUNT</th>
                                    <th>ACC/SERV</th>
                                    <th>SERVICE</th>
                                    <th>$$</th>
                                    <th>DO WE FAIL?</th>
                                    <th>COMMENT</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% if services_cancelled %}
                                    {% for service in services_cancelled %}
                                    <tr>
                                        <td> {% if service.date_can %} {{service.date_can|date:"d/m/Y"}}
                                            {% else %} add date !! {% endif %}</td>
                                        

                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a class="mb-0 fs-16 font-w500"  href="{% url 'dashboard:editclient' id=service.client.id %}">{{service.client}}</a>
                                            </div>
                                        </td>
                                        <td> {% if service.client.cancelled == "Cancelled" %}  <a href="{% url 'dashboard:editclient' id=service.client.id %}">{{service.client}}</a>
                                            ACCOUNT  </a>
                                              {% else %} <a href="{% url 'dashboard:editservice' id=service.id %}">SERVICE  </a>{% endif %}
                                        </td>
                                        <td>
                                           <a href="{% url 'dashboard:editservice' id=service.id %}"> {{service.service}} </a>
                                        </td>
                                        <td>${{service.total|floatformat:2|intcomma}}</td>
                                        <td>{{service.fail_can}}</td>
                                        <td><div class="d-flex align-items-center">
                                            {{service.comment_can|truncatechars:25}}</div></td>    
                                    {% endfor %}
                                {%endif%}



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end MAIN clients -->

{% endblock %}


{% block additional_js %}

<script>
    if ( $.fn.dataTable.isDataTable( '#example4' ) ) {
        table = $('#example4').DataTable();
        $('#date-filter-form').on('change', 'select', function() {
            var year = $('#year').val();
            var month = $('#month').val();
            var date = month + '/' + year;
            table.search(date).draw();
        });
    }
    else {
        table = $('#example4').DataTable( {
            paging: false
        } );
    }


</script>

{% endblock %}