{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}



<!-- MAIN CLIENTS -->
    

    <div class="row">

        <div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-4">
            <div class="widget-stat card">
                <div class="card-body  p-4">
                    <div class="media ai-icon">
                        <span class="me-3 bgl-danger text-danger">
                            <svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                                <line x1="12" y1="1" x2="12" y2="23"></line>
                                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                            </svg>
                        </span>
                        <div class="media-body">
                            <p class="mb-1">Revenue TOTAL</p>
                            <h4 class="mb-0">$ {{total_rr_k|floatformat:2}} k</h4>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-4">
            <div class="widget-stat card">
                <div class="card-body  p-4">
                    <div class="media ai-icon">
                        <span class="me-3 bgl-light text-ligth">
                            <svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                                <line x1="12" y1="1" x2="12" y2="23"></line>
                                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                            </svg>
                        </span>
                        <div class="media-body">
                            <p class="mb-1">CAV %</p>
                            <h4 class="mb-0">$ {{formula|floatformat:2}} k </h4>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-4">
            <div class="widget-stat card">
                <div class="card-body p-4">
                    <div class="media ai-icon">
                        <span class="me-3 bgl-dark text-dark">
                            <svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                                <line x1="12" y1="1" x2="12" y2="23"></line>
                                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                            </svg>
                        </span>
                        <div class="media-body">
                            <p class="mb-1">SEO</p>
                            <h4 class="mb-0">$ {{seo|floatformat:2}} k</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-4">
            <div class="widget-stat card">
                <div class="card-body p-4">
                    <div class="media ai-icon">
                        <span class="me-3 bgl-warning text-warning">
                            <svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                                <line x1="12" y1="1" x2="12" y2="23"></line>
                                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                            </svg>
                        </span>
                        <div class="media-body">
                            <p class="mb-1">GADS</p>
                            <h4 class="mb-0">$ {{gads|floatformat:2}} k </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-4">
            <div class="widget-stat card">
                <div class="card-body p-4">
                    <div class="media ai-icon">
                        <span class="me-3 bgl-secondary text-secondary">
                            <svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                                <line x1="12" y1="1" x2="12" y2="23"></line>
                                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                            </svg>
                        </span>
                        <div class="media-body">
                            <p class="mb-1">FADS</p>
                            <h4 class="mb-0">$ {{fads|floatformat:2}} k</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-4">
            <div class="widget-stat card">
                <div class="card-body p-4">
                    <div class="media ai-icon">
                        <span class="me-3 bgl-primary text-primary">
                            <svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                                <line x1="12" y1="1" x2="12" y2="23"></line>
                                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                            </svg>
                        </span>
                        <div class="media-body">
                            <p class="mb-1">LinkedIn</p>
                            <h4 class="mb-0">$ {{lin|floatformat:2}} k</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-4">
            <div class="widget-stat card">
                <div class="card-body p-4">
                    <div class="media ai-icon">
                        <span class="me-3 bgl-info text-info">
                            <svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                                <line x1="12" y1="1" x2="12" y2="23"></line>
                                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                            </svg>
                        </span>
                        <div class="media-body">
                            <p class="mb-1">Community Management</p>
                            <h4 class="mb-0">$ {{cm|floatformat:2}} k</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-4">
            <div class="widget-stat card">
                <div class="card-body p-4">
                    <div class="media ai-icon">
                        <span class="me-3 bgl-success text-success">
                            <svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                                <line x1="12" y1="1" x2="12" y2="23"></line>
                                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                            </svg>
                        </span>
                        <div class="media-body">
                            <p class="mb-1">COMBO</p>
                            <h4 class="mb-0">$ {{combo|floatformat:2}} k </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="col-xl-12">            
            <div class="card students-list">
                <div class="card-header border-0 flex-wrap pb-0 mb-5">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">ADD Client<span class="btn-icon-end">
                        <i class="fa fa-plus"></i></span>
                </div>                
                <!-- TABLE CLIENTS -->
                <div class="card-body py-0">
                    <form action="{% url 'dashboard:deleteclients' %}" method="POST">
                        {% csrf_token %}
                            <div class="table-responsive">
                                <table id="example4" style="min-width: 845px">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>ACCOUNT</th>
                                            <th>TIER</th>
                                            <th>SEO</th>
                                            <th>GADS</th>
                                            <th>FADS</th>
                                            <th>LinkedIn</th>
                                            <th>CM</th>
                                            <th>WP</th>
                                            <th>COMBO</th>
                                            <th>RR</th>
                                            <th>WOP</th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>{% if clients %}
                                        {% for client in clients %}
                                        {% if client.get_rr_client %}
                                        <tr>
                                                <td><input type="checkbox" name="selected_clients" value="{{ client.id }}"></td>

                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <a class="mb-0 fs-16 font-w500" href="{% url 'dashboard:editclient' id=client.id %}">{{client.name}}</a>
                                                </div>
                                            </td>
                                            <td>{{client.tier}}</td>
                                            <td>{{client.get_seo}}</td>
                                            <td>{{client.get_gads}}</td>
                                            <td>{{client.get_fads}}</td>
                                            <td>{{client.get_lnkd}}</td>
                                            <td>{{client.get_cm}}</td>
                                            <td>{{client.get_wp}}</td>
                                            <td>{{client.get_combo}}</td>
                                            <td><b>{{client.rr}}</b></td>  
                                            <td>{{client.wop}}</td>
                                  
                                            <td>
                                                <div class="d-flex flex-row">
                                                    
                                                        <!-- delete BUTTON -->
                                                            <button type="button" class="shadow-sm btn btn-danger px-3 mx-1" data-bs-toggle="modal" data-bs-target="#deleteclient{{client.id}}">
                                                            <i class="fa-solid fa-trash fs-7"></i>
                                                            </button>                                                                                  
                                                        <!-- edit BUTTON -->
                                                            <a href="{% url 'dashboard:editclient' id=client.id %}" class="px-3 shadow-sm btn btn-secondary mx-1">
                                                                <i class="fa-solid fa-pen-to-square "></i>
                                                            </a>                                                
                                                </div>                                        
                                            </td>f
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        {%endif%}
                                    </tbody>
                                </table>

                                <div class="d-flex flex-row-reverse">
                                    <button type="submit" name="delete" class="btn btn-danger my-4 sweet-wrong">DELETE SELECTED<i class="fa-solid fa-trash fs-7 px-3"></i></button>
                                </div>  
                            </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
<!-- end MAIN clients -->


<!-- modals delete clients -->
    {% for client in clients %}
        <div class="modal" id="deleteclient{{client.id}}">
            {% include 'dashboard/instructor/deleteclient.html' %}
        </div>
    {% endfor %}


<!-- START modal add client -->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add a new Client</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>           
                <form  method="post">
                {% csrf_token %}
                <div class="modal-body">
                  
                    <div class="form-group my-3">
                        <label class="form-label">Date</label>
                        {{ addform.date}}
                    </div>

                    <div class="form-group my-3">
                        {{addform.name}}
                    </div>

                    <div class="form-group my-3">
                        {{addform.business_name}}
                    </div>
                    <div class="form-group my-3">
                        <div class="fs-5 ml-4">
                            Source
                        </div>
                        {{addform.source}}
                    </div>
                    <div class="form-group my-3">
                        {{addform.website}}
                    </div>

                    <div class="form-group my-3">
                        <div class="fs-5 ml-4">
                            WOP
                        </div>
                        {{addform.wop}}
                    </div>

                    <div class="accordion accordion-rounded-stylish" id="accordion-twelve">
                        <div class="accordion-item">
                            <div class="accordion-header  rounded-lg" id="accord-12One" data-bs-toggle="collapse" data-bs-target="#collapse12One" aria-controls="collapse12One"   aria-expanded="true"  role="button">
                                <span class="accordion-header-icon"></span>
                                <span class="accordion-header-text">Client 1</span>
                                <span class="accordion-header-indicator"></span>
                            </div>

                            <div id="collapse12One" class="collapse accordion__body hidden" aria-labelledby="accord-12One" data-bs-parent="#accordion-twelve">
                                <div class="accordion-body-text">
                                
                                    
                                    <div class="form-group my-3">
                                        {{addform.c1_name}}
                                    </div>

                                    <div class="form-group my-3 d-flex justify-content-between">
                                        <div class="me-3">
                                    {{addform.c1_tel}}</div>
                                    {{addform.c1_tel2}}
                                    </div>
                                    
                                    <div class="form-group my-3 d-flex justify-content-between">
                                        <div class="me-3">
                                    {{addform.c1_email}}</div>
                                    {{addform.c1_email2}}
                                    </div>
                                    
                                </div>
                            </div>     
                        </div>
                    </div>


                    <div class="accordion accordion-rounded-stylish" id="accordion-twelve">
                        <div class="accordion-item">
                            <div class="accordion-header  rounded-lg" id="accord-12One" data-bs-toggle="collapse" data-bs-target="#collapse12Ones" aria-controls="collapse12Ones"   aria-expanded="true"  role="button">
                                <span class="accordion-header-icon"></span>
                                <span class="accordion-header-text">Client 2</span>
                                <span class="accordion-header-indicator"></span>
                            </div>

                            <div id="collapse12Ones" class="collapse accordion__body hidden" aria-labelledby="accord-12One" data-bs-parent="#accordion-twelve">
                                <div class="accordion-body-text">
                                
                                    
                                    <div class="form-group my-3">
                                        {{addform.c2_name}}
                                    </div>

                                    <div class="form-group my-3 d-flex justify-content-between">
                                        <div class="me-3">
                                    {{addform.c2_tel}}</div>
                                    {{addform.c2_tel2}}
                                    </div>
                                    
                                    <div class="form-group my-3 d-flex justify-content-between">
                                        <div class="me-3">
                                    {{addform.c2_email}}</div>
                                    {{addform.c2_email2}}
                                    </div>
                                    
                                </div>
                            </div>     
                        </div>
                    </div>


                    <div class="accordion accordion-rounded-stylish" id="accordion-twelve">
                        <div class="accordion-item">
                            <div class="accordion-header  rounded-lg" id="accord-12One" data-bs-toggle="collapse" data-bs-target="#collapse12Onesss" aria-controls="collapse12Onesss"   aria-expanded="true"  role="button">
                                <span class="accordion-header-icon"></span>
                                <span class="accordion-header-text">Admin</span>
                                <span class="accordion-header-indicator"></span>
                            </div>

                            <div id="collapse12Onesss" class="collapse accordion__body hidden" aria-labelledby="accord-12One" data-bs-parent="#accordion-twelve">
                                <div class="accordion-body-text">
                                
                                    
                                    <div class="form-group my-3">
                                        {{addform.admin_name}}
                                    </div>

                                    <div class="form-group my-3 d-flex justify-content-between">
                                        <div class="me-3">
                                    {{addform.admin_tel}}</div>
                                    {{addform.admin_tel2}}
                                    </div>
                                    
                                    <div class="form-group my-3 d-flex justify-content-between">
                                        <div class="me-3">
                                    {{addform.admin_email}}</div>
                                    {{addform.admin_email2}}
                                    </div>
                                    
                                </div>
                            </div>     
                        </div>
                    </div>

                    <div class="form-group my-3">
                        {{addform.landing_page}}
                    </div>


                    <div class="form-floating my-3 text-center">
                        <button type="submit" class="shadow-sm btn btn-secondary" name="addclient"><i class="fa-solid fa-check me-2"></i> Submit</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
<!-- END modal add client -->
{% endblock %}


{% block additional_js %}
    <!-- NEWMODAL -->
        <script>
            const deleteclient = new bootstrap.Modal('#deleteclient',   {keyboard: true}    )
        </script>

    <!-- charts -->
    <script src="{% static 'dashboard/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/chart.js/chart.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/echarts/echarts.min.js' %}"></script>
{% endblock %}