{% extends 'dashboard/elements/layouts/admin.html' %}
{% load static %}

{% block content %}

        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard:employees' %}">Employees</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">{{editemployee.name}}</a></li>
            </ol>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Change {{editemployee.name}}</h4>
                    </div>
                    <div class="card-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#home8">
                                    <span>
                                        <i class="ti-user fs-4"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#profile8">
                                    <span>
                                        <i class="ti-home fs-4"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#messages8">
                                    <span>
                                        <i class="ti-wallet fs-4"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content tabcontent-border">


                            <div class="tab-pane fade show active" id="home8" role="tabpanel">
                                <div class="pt-4">
                                    <h4>Personal details</h4>

                                    <div class="basic-form">
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="mb-3 col-md-6">
                                                    <label class="form-label">Name</label>
                                                    {{editform.name}}
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label class="form-label">Email</label>
                                                    {{editform.email}}
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label class="form-label">Address</label>
                                                    {{editform.address}}
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label>Phone Number</label>
                                                    {{editform.tel}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="mb-3 col-md-4">
                                                    <label class="form-label">Role</label>
                                                    {{editform.rol}}
                                                </div>

                                                <div class="mb-3 col-md-2">
                                                    <label class="form-label">Joined</label>
                                                    {{editform.date_join}}
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="form-check">
                                                    {{ editform.active }}
                                                    <label class="form-check-label">
                                                        active
                                                    </label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </form>
                                    </div>

                                </div>
                            </div>



                            <div class="tab-pane fade" id="profile8" role="tabpanel">
                                <div class="pt-4">
                                    <h4>This is icon title</h4>
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.
                                    </p>
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="messages8" role="tabpanel">
                                <div class="pt-4">
                                    <h4>This is icon title</h4>
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.
                                    </p>
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

{% endblock %}

