{% extends 'dashboard/elements/layouts/admin.html' %}
{% load static %}

{% block content %}


<!-- START modal edit wages employee -->
<div class="modal fade " id="editwage{{editemployee.id}}" tabindex="-1" aria-labelledby="editwage{{editemployee.id}}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editwage{{editemployee.id}}Label">{{editemployee.name}} WAGES</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>       

            <form  method="post">
            {% csrf_token %}
                <div class="modal-body">
                
                  
                    <div class="form-group my-3">
                        <label class="form-label">Salary</label>

                         {{editwageform.salary}}
                    </div>

                    <div class="form-group my-3">
                        <label class="form-label">Nigga %</label>

                            {{editwageform.nigga}}
                    </div>

                    <div class="form-group my-3">
                        <label class="form-label">Period</label>

                            {{editwageform.period}}
                    </div>

                   


                    <div class="form-floating my-3 text-center">
                        <button type="submit" class="shadow-sm btn btn-secondary" name="editwage"><i class="fa-solid fa-check me-2"></i> Submit</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- END modal  -->




<!-- START modal raice -->
<div class="modal fade " id="raice" tabindex="-1" aria-labelledby="raiceLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="raiceLabel">RAICE {{editemployee.name}} salary</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>       

            <form  method="post">
            {% csrf_token %}
                <div class="modal-body">
                
                  
                    <div class="form-group my-3">
                        <label class="form-label">% SALARY RAICE</label>

                            {{raice.salary}}
                    </div>

                    <div class="form-group my-3">
                        <label class="form-label">% NIGGA of SALARY</label>

                            {{raice.nigga}}
                    </div>

                    <div class="form-floating my-3 text-center">
                        <button type="submit" class="shadow-sm btn btn-secondary" name="raice"><i class="fa-solid fa-check me-2"></i> Submit</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- END modal  -->





        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard:employees' %}">Employees</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">{{editemployee.name}}</a></li>
            </ol>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                           
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#info" id="info-tab">
                                    <span>
                                        <i class="ti-user fs-4 me-2"></i>
                                    </span> Personal
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#pay" id="salary-tab">
                                    <span> 
                                        <i class="ti-wallet fs-4 me-2"></i>
                                    </span> Pay
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#holiday"  id="holiday-tab">
                                    <span> 
                                        <i class="ti-star fs-4 me-2"></i>
                                    </span> Holidays
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content tabcontent-border">

                            <div class="tab-pane fade show active" id="info" role="tabpanel">
                                <div class="pt-4">

                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                                                                
                                                <div class="form-group my-3">
                                                    <label class="form-label">Name</label>
                                                    {{editform.name}}
                                                </div>
                                                <div class="form-group my-3">
                                                    <label class="form-label">Email</label>
                                                    {{editform.email}}
                                                </div>
                                                <div class="form-group my-3">
                                                    <label class="form-label">Address</label>
                                                    {{editform.address}}
                                                </div>
                                                <div class="form-group my-3">
                                                    <label>Phone Number</label>
                                                    {{editform.tel}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group my-3">
                                                    <label class="form-label">Area</label>
                                                    {{editform.rol}}
                                                </div>

                                                <div class="form-group my-3">
                                                    <label class="form-label">Joined</label>
                                                    {{editform.date_join}}
                                                </div>
                                            </div>
                                            <div class="form-group my-3">
                                                <label class="form-label">Active?</label>
                                                {{ editform.active }}
                                            </div>

                                            <div class="form-group my-3">
                                                <label class="form-label">Gone</label>
                                                {{ editform.date_gone }}
                                            </div>


                                            <button type="submit" name="editemployee" class="btn btn-primary">Save</button>
                                        </form>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="holiday" role="tabpanel">
                                <div class="pt-4 mb-4">

                                    <div class="basic-form mb-4">
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="form-group my-3">
                                                    <label class="form-label">YEAR</label>
                                                    {{holidayform.year}}
                                                </div>




                                                <div class="form-group my-3">
                                                    <label class="form-label">MONTH</label>


                                                        {{holidayform.month}}
                                                </div>


                                                <div class="form-group my-3">
                                                    <label class="form-label">DAYS</label>


                                                        {{holidayform.days}}
                                                </div>

                                                <div class="form-group my-3">
                                                    <label class="form-label">START</label>
                                                    {{holidayform.date_start}}
                                                </div>

                                                <div class="form-group my-3">
                                                    <label>END</label>
                                                    {{holidayform.date_end}}
                                                </div>
                                            </div>


                                            <button type="submit" name="holiday" class="mb-4 btn btn-primary">ADD</button>
                                        </form>
                                    </div>


                                    {% include 'dashboard/instructor/holidays.html' %}


                                </div>
                            </div>

                            <div class="tab-pane fade" id="pay" role="tabpanel">
                                <div class="pt-4">
                                    
                                    <div class="basic-list-group m-3 px-4 mb-4 pb-4">
                                        <div class="form-floating my-2 d-flex flex-row-reverse">  
                                            <!--change BUTTON -->
                    
                                           <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editwage{{editemployee.id}}">CHANGE CURRENT SALARY
                                            </button>
                                            {% if editemployee.salaries.all %}
                                            <!-- raice BUTTON -->
                                            <button type="button" class="shadow-sm btn btn-success px-3 mx-1" data-bs-toggle="modal" data-bs-target="#raice">
                                                RAICE
                                            </button>      
                                            {% endif %}    
                                        </div>
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <h4>WHITE</h4> 
                                                <p class="fs-4">
                                                    <span class="badge light badge-info">
                                                        $ {{editemployee.get_white|floatformat:2}}
                                                    </span>
                                                </p>
                                            </li>

                                            <li class="list-group-item">
                                                <h4>NIGGA</h4> 
                                                <p class="fs-4">
                                                    <span class="badge light badge-danger">
                                                        $ {{editemployee.get_nigga|floatformat:2}}
                                                    </span>
                                                </p>
                                            </li>

                                            
                                            <li class="list-group-item">
                                                <h4>TAX</h4> 
                                                <p class="fs-4">
                                                    <span class="badge light badge-success">
                                                        $  {{editemployee.get_social|floatformat:2}}
                                                    </span>
                                                </p>
                                            </li>

                                            <li class="list-group-item">
                                                <h4>MONTHLY BONUS</h4> 
                                                <p class="fs-4">
                                                    <span class="badge light badge-light">
                                                        $  {{editemployee.get_aguinaldo_mensual|floatformat:2}}
                                                    </span>
                                                </p>
                                            </li>

                                            <li class="list-group-item">
                                                <h4>TOTAL</h4> 
                                                <p class="fs-4">
                                                    <span class="badge light badge-dark">
                                                        $  {{editemployee.get_total|floatformat:2}}
                                                    </span>
                                                </p>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                                {% include 'dashboard/instructor/salaries.html' %}
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        





<!-- modals delete holidays -->
{% for i in holidays %}
<div class="modal" id="deleteholiday{{i.id}}">
    {% include 'dashboard/instructor/deleteholiday.html' %}
</div>
{% endfor %}



{% endblock %}


{% block additional_js %}

    

<script>
   

        // Check if URL contains "#pay"
        if(window.location.hash == "#pay") {
            // Get the salary tab element
            var salaryTab = document.getElementById("salary-tab");
            // Activate the tab
            var tab = new bootstrap.Tab(salaryTab);
            tab.show();
        }

        if(window.location.hash == "#holiday") {
            // Get the salary tab element
            var holidayTab = document.getElementById("holiday-tab");
            // Activate the tab
            var tab = new bootstrap.Tab(holidayTab);
            tab.show();

        }

</script>



<!-- change active select date_gone -->
<script>
    var can = document.getElementById("active");
    var coso = document.getElementById("cancellation");
    coso.style.display="none"
    can.onchange=function(){
    
        if(this.value=="Yes"){
            coso.style.display="none";  
        }else{
            coso.style.display="block";
        }
    }        
</script>


<script>
    var select = document.getElementById("rol"); 
    var option = select.querySelector('option[value="CEO"]'); 
        if (option) 
        {select.removeChild(option);}
</script>



 <!-- NEWMODAL -->
 <script>
    const deleteholiday = new bootstrap.Modal('#deleteholiday',   {keyboard: true}    )
</script>



 <!-- NEWMODALS -->
 <script>
    const raice = new bootstrap.Modal('#raice',   {keyboard: true}    )
</script>

{% endblock %}