{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}



<!-- MAIN EMPLOYEES -->
    

<div class="row">   
    
    <div class="col-xl-4 col-xxl-4 col-lg-4 col-sm-12">
        <div class="widget-stat card">
            <div class="card-body  p-4">
                <div class="media ai-icon">
                    <span class="me-3 bgl-primary text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                    </span>
                    <div class="media-body">
                        <p class="mb-1">TEAM MEMBERS</p>
                        <h4 class="mb-0">{{count_staff}} </h4>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="col-xl-8 col-xxl-8 col-lg-8 col-sm-12 mt-5">

        <div class="d-flex flex-row-reverse mt-5">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">ADD Employee<span class="btn-icon-end">
                <i class="fa fa-plus"></i></span>     
        </div>
    </div>


    <div class="col-xl-12">
        

        <div class="card">
            <div class="card-body">
                
                <div class="tab-content">
                    <div class="row">

                        <!-- TABLE EMPLOYEES -->
                        <div class="table-responsive py-4">
                            <table id="example4" class="display mb-4" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        
                                        <th>NAME</th>
                                        <th>AREA</th>
                                        <th>SALARY</th>
                                        <th>WHITE</th>
                                        <th>TAX</th>
                                        <th>NIGGA</th>
                                        <th>MONTHLY BONUS</th>
                                        <th>TOTAL</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>{% if staff %}
                                    {% for employee in staff %}
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a class="mb-0 fs-16 font-w500" href="{% url 'dashboard:editemployee' id=employee.id %}">{{employee.name}}</a>
                                            </div>
                                        </td>

                                        <td>{{employee.rol}}</td>

                                        <td>${{employee.salary|floatformat:2}}</td>


                                        <td>${{employee.get_white|floatformat:2}}</td>

                                        <td>${{employee.get_social|floatformat:2}}</td>
                                        <td>${{employee.get_nigga|floatformat:2}}</td>

                                        <td>${{employee.get_aguinaldo_mensual|floatformat:2}}</td>
                                        <td>${{employee.get_total|floatformat:2}}</td>
                                        <td>
                                            <div class="d-flex flex-row">
                                                
                                                    <!-- delete BUTTON -->
                                                        <button type="button" class="shadow-sm btn btn-danger px-3 mx-1" data-bs-toggle="modal" data-bs-target="#deleteemployee{{employee.id}}">
                                                        <i class="fa-solid fa-trash fs-7"></i>
                                                        </button>                                                                                  
                                                    <!-- edit BUTTON -->
                                                        <a href="{% url 'dashboard:editemployee' id=employee.id %}" class="px-3 shadow-sm btn btn-secondary mx-1">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                        </a>                                                
                                            </div>                                        
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {%endif%}
                                </tbody>
                            </table>
                        </div>

                        <div class="col-12 px-3 my-4 py-3 d-flex flex-row-reverse text-primary fs-4">
                            <a href="{% url 'dashboard:old' %}">  See inactive  <i class="bi bi-backspace-reverse px-2"></i> </a>
                        </div>

                    </div>
                </div>
            </div>                   
        </div>
    </div>
</div>
<!-- end MAIN employees -->


<!-- modals delete employees -->
    {% for employee in employees %}
        <div class="modal" id="deleteemployee{{employee.id}}">
            {% include 'dashboard/instructor/deleteemployee.html' %}
        </div>
    {% endfor %}


<!-- START modal add employee -->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add a new Employee</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>       

                <form  method="post">
                {% csrf_token %}
                    <div class="modal-body">
                    
                        <div class="form-group my-3">
                            <label class="form-label">Date</label>
                            {{ addform.date_join}}
                        </div>

                        <div class="form-group my-3">
                            {{addform.name}}
                        </div>                        

                        <div class="accordion accordion-rounded-stylish" id="accordion-twelve">
                            <div class="accordion-item">
                                
                                <div class="accordion-header  rounded-lg" id="accord-12One" data-bs-toggle="collapse" data-bs-target="#collapse12One" aria-controls="collapse12One"   aria-expanded="true"  role="button">
                                    <span class="accordion-header-icon"></span>
                                    <span class="accordion-header-text">Contact Data</span>
                                    <span class="accordion-header-indicator"></span>
                                </div>

                                <div id="collapse12One" class="collapse accordion__body hidden" aria-labelledby="accord-12One" data-bs-parent="#accordion-twelve">
                                    <div class="accordion-body-text">
                                    
                                        <div class="form-group my-3 d-flex justify-content-between">
                                            <div class="me-3">
                                                {{addform.email}} </div>                                            
                                        </div>

                                        <div class="form-group my-3">
                                            {{addform.tel}}
                                        </div>
                                        
                                        <div class="form-group my-3">
                                            {{addform.address}}
                                        </div>
                                        
                                    </div>
                                </div>                             
                            </div>                          
                        </div>

                        <div class="form-group my-3">
                            <label class="form-label">Area</label>

                            {{addform.rol}}
                        </div>

                        <div class="form-group my-3">
                            <label class="form-label">Salary</label>

                             {{addform.salary}}
                        </div>

                        <div class="form-group my-3">
                            <label class="form-label">Nigga %</label>

                                {{addform.nigga}}
                        </div>

                        <div id="ceo">
                            <div class="form-group my-3">
                                <label class="form-label">MP</label>

                                    {{addform.mp}}
                            </div>

                            <div class="form-group my-3">
                                <label class="form-label">TC</label>

                             {{addform.tc}}
                            </div>

                            <div class="form-group my-3">
                                <label class="form-label">ATM CASH</label>

                                 {{addform.atm_cash}}
                            </div>

                        </div>

                        <div class="form-floating my-3 text-center">
                            <button type="submit" class="shadow-sm btn btn-secondary" name="addemployee"><i class="fa-solid fa-check me-2"></i> Submit</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- END modal add employee -->
{% endblock %}


{% block additional_js %}
    <!-- NEWMODAL -->
        <script>
            const deleteemployee = new bootstrap.Modal('#deleteemployee',   {keyboard: true}    )
        </script>

        

<script>
    var can = document.getElementById("rol");
    var info = document.getElementById("ceo");
    info.style.display = (can.value !== "CEO") ? "none" : "block";
    can.onchange=function(){
    
        if(this.value!="CEO"){
            info.style.display="none";  
        }else{
            info.style.display="block";
        }
    }        
</script>

<script>
    var select = document.getElementById("rol"); 
    var option = select.querySelector('option[value="CEO"]'); 
        if (option) 
        {select.removeChild(option);}
</script>




{% endblock %}