{% load static %}
{% load custom_tags %}
       
                        
                        <div class="mt-2 my-4">
                            <div class="table-responsive">
                                <table id="example4" class="display" style="min-width: 845px">
                                    <thead>
                                        <tr>
                                            <th>PERIOD</th>
                                            <th>UPDATED SALARY </th>
                                            <th>RAICE %</th>
                                            <th>PREVIOUS SALARY </th>
                                            <th>TOTAL RAICE </th>


                                        </tr>
                                    </thead>
                                    <tbody>


                                        {% for i in salaries %}
                                            {% with next_element=salaries|next:forloop.counter0 %}
                                            {% with previous_element=salaries|previous:forloop.counter0 %} 
                                            
                                            {% if next_element.salary != i.salary %}
                                            <tr>

                                                
                                                <td>{{i.period|date:"m/Y"}}</td>
                                                <td>$ {{i.salary|floatformat:2}}</td>   
                                                <td>{{i.raice|floatformat:2}}%</td>
                                                <td>{% if next_element.salary %}
                                                    ${{next_element.salary|floatformat:2}}{% else %} 0 {% endif%}</td>
                                                <td>{% if next_element.salary %}$ {{i.salary|subtract:next_element.salary}}{%else %}0{% endif %}</td>                                                 

                                                
                                            </tr>
                                            {% endif %}
                                            {% endwith %}
                                            {% endwith %}
                                        {% endfor %}
                                    
                                       

                                    </tbody>
                                </table>
                            </div>
                        </div>

