{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}

{% endblock %}

{% block content %}

        <div class="card">
            <div class="card-body pt-0">
                <div class="widget-timeline style-3 ">
                    <ul id="loglist" class="timeline-active my-4">
                        {% for e in list %}
                        <li class="d-flex aligns-baseline ">
                            {% if e.get_event_type_display %}
                            <h4 class="font-w400 time">{{e.datetime}}</h4>
                            <div class="panel">
                                <a class="timeline-panel text-muted d-flex aligns-center">
                                    {% if e.get_event_type_display == "Update" %} <div class="badge badge-xl badge-warning fs-6"> <i class="fa-solid fa-pen-to-square"></i> </div>
                                        {% elif e.get_event_type_display == "Create" %} <div class="badge badge-xl badge-secondary fs-6"><i class="fa fa-plus"></i> </div>
                                        {% elif e.get_event_type_display == "Delete" %} <div class="badge badge-xl badge-primary fs-6"> <i class="fa-solid fa-trash fs-7"></i> </div>
                                        {% endif %}
                                    <h4 class="mb-0"><strong> {{e.user}} </strong> {{e.get_event_type_display}} {{e.content_type.model}} 
                                        {% if e.get_event_type_display == "Update" %} <strong class="text-warning"> {{e.object_repr}}</strong>
                                        {% elif e.get_event_type_display == "Create" %} <strong class="text-secondary"> {{e.object_repr}}</strong>
                                        {% elif e.get_event_type_display == "Delete" %} <strong class="text-primary"> {{e.object_repr}}</strong>
                                        {% endif %}                                        
                                    </h4>
                                </a>                                
                            </div>
                            {% else %}
                            <h4 class="font-w400 time">{{e.datetime}}</h4>
                            <div class="panel">
                                <a class="timeline-panel text-muted d-flex aligns-center">
                                    {% if e.get_login_type_display == "Login" %} <div class="badge badge-xl badge-secondary fs-6"> <i class="fa-solid fa-right-to-bracket"></i></div>
                                    {% elif e.get_login_type_display == "Logout" %} <div class="badge badge-xl badge-primary fs-6"> <i class="fa-solid fa-right-to-bracket fa-flip-horizontal"></i> </div>
                                    {% endif %}
                                    <h4 class="mb-0"><strong> {{e.user}} </strong> {{e.get_login_type_display}}                             
                                    </h4>
                                </a>                                
                            </div>	
                            {%endif%}	
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <nav>
                    <ul class="pagination">
                      <li class="page-item page-indicator{% if not list.has_previous %} disabled{% endif %}">
                        <a class="page-link" href="{% if list.has_previous %}?page=1{% endif %}">
                          <i class="la la-angle-left"></i>
                        </a>
                      </li>
                      {% for page in list.paginator.page_range %}
                        {% if page == list.number %}
                          <li class="page-item active">
                            <a class="page-link" href="javascript:void()">{{ page }}</a>
                          </li>
                        {% else %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                      <li class="page-item page-indicator{% if not list.has_next %} disabled{% endif %}">
                        <a class="page-link" href="{% if list.has_next %}?page={{ list.paginator.num_pages }}{% endif %}">
                          <i class="la la-angle-right"></i>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  
            </div>
        </div>	


	
{% endblock %}

{% block additional_js %}
    
    
{% endblock %}