<p>Hola estimado, {{adj.client.name}} </p>
<p>El motivo de este email es para comunicarte un ajuste por inflación.</p>
<br>

{% if services|length > 1 %}
    <p> Servicios: </p>
    {% for s in services %}
        <p> - {{s.service}} </p>
    {% endfor %}
{% endif %}
<br>

<p>Inversión actual: ${{adj.total|floatformat:2}}</p>
<p>Inversión con ajuste: ${{adj.new_value|floatformat:2}}</p>
<p>Ajuste: ${{adj.div|floatformat:2}}</p>
<br>
<p>El ajuste se hará en el próximo pago{% if services|length == 1 %}{% for s in services %} de {{s.service}}{% endfor %}{% endif %}.</p>
<p>Cualquier duda no dejes de consultarnos.</p>
<p>Saludos,</p>
<br>

<p>Imactions</p>
<p>www.imactions.agency</p>
