{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}




{% block message %}
{% include 'dashboard/elements/alert.html' %}
{% endblock %}



{% block content %}


<div class="row">
    <div class="col-xl-9 col-xxl-9 col-lg-9 col-m-9">
        <div class="row">
            <div class="col-xl-6 col-xxl-6 col-lg-6">
                <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="me-3 bgl-info text-info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg>                            </span>

                            </span>
                            <div class="media-body">
                                <p class="mb-1">RR</p>
                                <h4 class="mb-0">$ {{rr_t_clients|floatformat:2}} </h4>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-xl-6 col-xxl-6 col-lg-6">
                <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="me-3 bgl-success text-success">
                                <svg id="icon-customers" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </span>
                            <div class="media-body">
                                <p class="mb-1">RR CLIENTS</p>
                                <h4 class="mb-0">{{rr_q_clients}} </h4>
                            </div>
                        </div>                                
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-xxl-6 col-lg-6">
                <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="me-3 bgl-primary text-primary">
                                <svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                                    <line x1="12" y1="1" x2="12" y2="23"></line>
                                    <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                </svg>
                            </span>
                            <div class="media-body">
                                <p class="mb-1">Sales RR {{month}}</p>
                                <h4 class="mb-0">{{rr_this|floatformat:2}}</h4>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    
            <div class="col-xl-6 col-xxl-6 col-lg-6">
                <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="me-3 bgl-warning text-warning">
                                <svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                                    <line x1="12" y1="1" x2="12" y2="23"></line>
                                    <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                </svg>
                            </span>
                            <div class="media-body">
                                <p class="mb-1">One Off {{month}}</p>
                                <h4 class="mb-0">{{one_this|floatformat:2}} </h4>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>  

        <div class="row">
            <div class="col-xl-6 col-xxl-6 col-lg-6">
                <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="me-3 bgl-danger text-danger">
                                <i class="bi bi-dash-circle"></i>


                            </span>
                            <div class="media-body">
                                <p class="mb-1">Cancellations {{month}}</p>
                                <h4 class="mb-0">{{cancell_q}} </h4>
                            </div>
                        </div>                        
                    </div>
                </div>  
            </div>   
            <div class="col-xl-6 col-xxl-6 col-lg-6">

                <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="me-3 bgl-secondary text-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-repeat"><polyline points="17 1 21 5 17 9"></polyline><path d="M3 11V9a4 4 0 0 1 4-4h14"></path><polyline points="7 23 3 19 7 15"></polyline><path d="M21 13v2a4 4 0 0 1-4 4H3"></path></svg>                          </span>

                            </span>
                            <div class="media-body">
                                <p class="mb-1">BALANCE</p>
                                <h4 class="mb-0">$ {{balance|floatformat:2}} </h4>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>   
 
        </div>
    </div>

         

     


    <div class="col-xl-3 col-xxl-3 col-lg-3">
        <div class="card dlab-join-card h-auto">
            <div class="card-body">
                <div class="dlab-media d-flex justify-content-between">
                    <div class="dlab-content">
                        <h4 class="py-4"> Hi, {{request.user}}.</h4>
                            <h3> {{hour}} </h3>
                            {% if bds|length > 0 %} {% for b in bds %} <p class="py-1"> <i class="fa-solid fa-cake-candles pe-3 fs-2"></i> Today is {{b.name}}  birthday!!! </p>{% endfor %} {% endif %} 
                        <h5 class="py-4"> Blue  ${{blue}}.</h5>

                    </div>	
                    <div class="dlab-icon">
                        <img src="{% static 'dashboard/images/vector/calpng.png' %}" alt="" class="cal-img">
                        <img src="{% static 'dashboard/images/vector/book.png' %}" alt="" class="book-img">
                    </div>
                </div>
            </div>
        </div>  
        
              
        
    </div>   


</div>

<div class="row">


    <div class="col-xl-4 col-xxl-4 col-m-4">

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">ACCOUNTS BY SERVICE </h4>
            </div>
            <div class="card-body">
                <canvas id="cbys"></canvas>

            </div>
        </div>
    </div>

    
    

    <div class="col-xl-8 col-xxl-8 col-m-8">
        <div class="card">
            <div class="card-header border-0 flex-wrap mt-4">
                <h4>Sales by Service</h4>
                <form method="get">
                    <div class="d-flex flex-row-reverese">
                        <select id='date-dropdown' name="year" class="form-control">
                        </select>
                        <span><input type="submit" class="btn btn-outline-dark ms-2"></span>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div id="LineChart"></div>
            </div>
        </div>
    </div>

</div>



<div class="row">
    <div class="col-xl-8 col-xxl-8 col-m-8">

        <div class="card score-active px-2 py-2">

            <div class="card-header border-0">
                <h4>ACTIVITY</h4>
            </div>                          

            <div class="widget-timeline style-3 px-5 ">
                <ul id="loglist" class="timeline-active my-4">
                    {% for e in activity %}
                    <li class="d-flex aligns-baseline mt-3">
                        <div class="panel">
                            
                            <a class="timeline-panel text-muted d-flex aligns-center">

                                {% if e.get_event_type_display == "Update" %} <div class="badge badge-xl badge-warning fs-5"> <i class="fa-solid fa-pen-to-square"></i> </div>
                                {% elif e.get_event_type_display == "Create" %} <div class="badge badge-xl badge-secondary fs-5"><i class="fa fa-plus"></i> </div>
                                {% elif e.get_event_type_display == "Delete" %} <div class="badge badge-xl badge-primary fs-5"> <i class="fa-solid fa-trash fs-7"></i> </div>
                                {% endif %}


                               
                                    <h4><strong> {{e.user}} </strong> {{e.get_event_type_display}} {{e.content_type.model}} {% if e.get_event_type_display == "Update" %} <strong class="text-warning">    {{e.object_repr}} </strong>
                                        {% elif e.get_event_type_display == "Create" %} <strong class="text-secondary"> {{e.object_repr}}</strong>
                                        {% elif e.get_event_type_display == "Delete" %} <strong class="text-primary"> {{e.object_repr}}</strong>
                                        {% endif %}                                        
                                      {{e.datetime|date:"H:i \h\s, j N"}}</h4>
                                </a>
                        </div>                        
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-xxl-4 col-m-4">

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">ACCOUNTS BY TIER </h4>
            </div>
            <div class="card-body">
                <canvas id="pie_chart"></canvas>
            </div>
        </div>
    </div>       
           
   
</div>


{% endblock %}

{% block additional_js %}



<script>
    let dateDropdown = document.getElementById('date-dropdown'); 
         
    let currentYear = new Date().getFullYear();    
    let earliestYear = 2010;     
    while (currentYear >= earliestYear) {      
      let dateOption = document.createElement('option');          
      dateOption.text = currentYear;      
      dateOption.value = currentYear;        
      dateDropdown.add(dateOption);      
      currentYear -= 1;    
    }
  </script>


<script>    
/// rr by service graph
    (function($) {
        /* "use strict" */
        
    var dlabChartlist = function(){
        
        var screenWidth = $(window).width();
        
                
            var LineChart = function(){
            var options = {
                series: [{
                    name: 'SEO',
                    data: [{{enero_seo}}, {{febrero_seo}}, {{marzo_seo}}, {{abril_seo}}, {{mayo_seo}}, {{junio_seo}}, {{julio_seo}}, {{agosto_seo}}, {{septiembre_seo}}, {{octubre_seo}}, {{noviembre_seo}}, {{diciembre_seo}},]
                }, {
                    name: 'Google Ads',
                    data: [{{enero_gads}}, {{febrero_gads}}, {{marzo_gads}}, {{abril_gads}}, {{mayo_gads}}, {{junio_gads}}, {{julio_gads}}, {{agosto_gads}}, {{septiembre_gads}}, {{octubre_gads}}, {{noviembre_gads}}, {{diciembre_gads}},]
                }, {
                    name: 'Community Management',
                    data: [{{enero_cm}}, {{febrero_cm}}, {{marzo_cm}}, {{abril_cm}}, {{mayo_cm}}, {{junio_cm}}, {{julio_cm}}, {{agosto_cm}}, {{septiembre_cm}}, {{octubre_cm}}, {{noviembre_cm}}, {{diciembre_cm}},]
                }, {
                    name: 'Web Plan',
                    data: [{{enero_wp}}, {{febrero_wp}}, {{marzo_wp}}, {{abril_wp}}, {{mayo_wp}}, {{junio_wp}}, {{julio_wp}}, {{agosto_wp}}, {{septiembre_wp}}, {{octubre_wp}}, {{noviembre_wp}}, {{diciembre_wp}},]
                }, {
                    name: 'Facebook Ads',
                    data: [{{enero_fads}}, {{febrero_fads}}, {{marzo_fads}}, {{abril_fads}}, {{mayo_fads}}, {{junio_fads}}, {{julio_fads}}, {{agosto_fads}}, {{septiembre_fads}}, {{octubre_fads}}, {{noviembre_fads}}, {{diciembre_fads}},]
                }, 
                {
                    name: 'Combo',
                    data: [{{enero_combo}}, {{febrero_combo}}, {{marzo_combo}}, {{abril_combo}}, {{mayo_combo}}, {{junio_combo}}, {{julio_combo}}, {{agosto_combo}}, {{septiembre_combo}}, {{octubre_combo}}, {{noviembre_combo}}, {{diciembre_combo}},]
                },
                {
                    name: 'LinkedIn',
                    data: [{{enero_lk}}, {{febrero_lk}}, {{marzo_lk}}, {{abril_lk}}, {{mayo_lk}}, {{junio_lk}}, {{julio_lk}}, {{agosto_lk}}, {{septiembre_lk}}, {{octubre_lk}}, {{noviembre_lk}}, {{diciembre_lk}},]
                }],
                chart: {
                    type: 'bar',
                    height: 350,
                    stacked: true,
                    toolbar: {
                        show: true,
                    }
                },
                
                plotOptions: {
                    bar: {
                        horizontal: false,
                        columnWidth: '80%',
                        
                        endingShape: "rounded",
                        startingShape: "rounded",
                        backgroundRadius: 10,
                        colors: {
                            backgroundBarColor: '#fff',
                            backgroundBarOpacity: 1,
                            backgroundBarRadius: 10,
                        },
                    },
                    
                },
                stroke:{
                    width:8,
                    colors:["#fff"]
                },
                colors:['#FF6384', '#36A2EB', '#FF6384', '#9966FF', '#FFCE56', '#FF9900', '#4BC0C0'],
                
                // los  meses
                xaxis: {
                    show: true,
                    axisBorder: {
                        show: false,
                    },				
                    labels: { 
                        style: {
                            colors: '#828282',
                            fontSize: '14px',
                            fontFamily: 'Poppins',
                            fontWeight: 'light',
                            cssClass: 'apexcharts-xaxis-label',
                        },
                    },                          
                    crosshairs: {
                        show: false,
                    },
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul','Aug','Sep','Oct','Nov','Dec'],
                },
                

                // la plata
                yaxis: {
                    show: true,
                    labels: {
                        formatter: function (value) {
                            return "$" + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        },
                        style: {
                            colors: '#828282',
                            fontSize: '14px',
                            fontFamily: 'Poppins',
                            fontWeight: 'light',
                            cssClass: 'apexcharts-xaxis-label',
                        },
                    },
                },
                



                /// lineas punteadas 
                grid: { 
                    show: true,
                    borderColor: '#DBDBDB',
                    strokeDashArray: 10,
                    position: 'back',
                    xaxis: {
                        lines: {
                            show: false // eje vert de las medidas 
                        }
                    },   
                    yaxis: {
                        lines: {
                            show: true // del eje horizontal
                        }
                    },  
                },

                toolbar: {
                    enabled: true,
                },
                dataLabels: {// info de la data enel mismo gráfico
                enabled: false
                },
                legend: {// referencias de cada servicio debajo del graifo
                    show:false
                },



                fill: {
                    opacity: 1
                },
                responsive: [{
                    breakpoint: 1601,
                    options: {
                        plotOptions: {
                            bar: {
                                columnWidth: '60%',
                            },
                            
                        },
                    },
                }]
            };

            var chart = new ApexCharts(document.querySelector("#LineChart"), options);
            chart.render();
        }
	
    var pieChart = function(){
		//pie chart
		if(jQuery('#pie_chart').length > 0 ){
			//pie chart
			const pie_chart = document.getElementById("pie_chart").getContext('2d');
			// pie_chart.height = 100;
			new Chart(pie_chart, {
				type: 'pie',
				data: {
					defaultFontFamily: 'Poppins',
					datasets: [{
						data: [{{i}}, {{ii}}, {{iii}}, {{iv}}, {{v}}],
						borderWidth: 0, 
						backgroundColor: [
                            "rgba(255, 99, 132, 1)",
                            "rgba(54, 162, 235, 1)",
                            "rgba(255, 206, 86, 1)",
                            "rgba(75, 192, 192, 1)",
                            "rgba(153, 102, 255, 1)"
                        ],
                        hoverBackgroundColor: [
                            "rgba(255, 99, 132, 0.8)",
                            "rgba(54, 162, 235, 0.8)",
                            "rgba(255, 206, 86, 0.8)",
                            "rgba(75, 192, 192, 0.8)",
                            "rgba(153, 102, 255, 0.8)"
                        ]
    
                    }],
                    labels: [
                        "TIER I {{t_i|floatformat:0}}%",
                        "TIER II {{t_ii|floatformat:0}}%",
                        "TIER III {{t_iii|floatformat:0}}%", 
                        "TIER IV {{t_iv|floatformat:0}}%",
                    ]
				},
				options: {
					plugins:{
						legend: true, 
					},	
					responsive: true, 
					
					//maintainAspectRatio: false
				}
			});
		}
	}
	
 
	/* Function ============ */
		return {
			init:function(){
			},
			
			
			load:function(){
				LineChart();
                pieChart();
				
			},
			
			resize:function(){
			}
		}
	
	}();

	
		
	jQuery(window).on('load',function(){
		setTimeout(function(){
			dlabChartlist.load();
		}, 1000); 
		
	});

     

})(jQuery);

</script>


<script>
    // Get the query parameter from the URL
    const queryParams = new URLSearchParams(window.location.search);
    const selectedYear = queryParams.get('year');

    // Set the value of the select field
    const selectField = document.querySelector('#date-dropdown');
    if (selectedYear) {
        selectField.value = selectedYear;
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/pie-chart.js' %}"></script>
<script>


document.addEventListener("DOMContentLoaded", function(event) {
    var ctx = document.getElementById("cbys").getContext("2d");
    var data = {
      labels: ["SEO {{s_c|floatformat:0}}%", "Google Ads {{g_c|floatformat:0}}%", "Facebook Ads {{f_c|floatformat:0}}%", "LinkedIn {{l_c|floatformat:0}}%", "Web Plan {{w_c|floatformat:0}}%", "Combo {{co_c|floatformat:0}}%", "Community Management {{cm_c|floatformat:0}}%", "Email Marketing {{e_c|floatformat:0}}%", "Others RR {{o_c|floatformat:0}}%"],
      datasets: [
        {
          data: [{{seo_clients}}, {{gads_clients}}, {{fads_clients}}, {{lkdn_clients}}, {{wp_clients}}, {{combo_clients}}, {{cm_clients}}, {{emk_clients}}, {{other_clients}}],
          backgroundColor: [
            "#FF6384",
            "#36A2EB",
            "#FFCE56",
            "#4BC0C0",
            "#9966FF",
            "#FF9900",
            "#FF6384",
            "#36A2EB",
            "#FFCE56"
          ],
          hoverBackgroundColor: [
            "#FF6384",
            "#36A2EB",
            "#FFCE56",
            "#4BC0C0",
            "#9966FF",
            "#FF9900",
            "#FF6384",
            "#36A2EB",
            "#FFCE56"
          ]
        }
      ]
    };
  
    var options = {
      responsive: true,
      maintainAspectRatio: false
    };
  
    var myPieChart = new Chart(ctx,{
      type: 'pie',
      data: data,
      options: options
    });
  });

</script>

{% endblock %}