{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}




{% block message %}
{% include 'dashboard/elements/alert.html' %}
{% endblock %}



{% block content %}


<div class="row">
    <div class="col-xl-9 col-xxl-9 col-lg-9 col-m-9">
        <div class="row">
            <div class="col-xl-6 col-xxl-6 col-lg-6">
                <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="me-3 bgl-info text-info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg>                            </span>

                            </span>
                            <div class="media-body">
                                <p class="mb-1">RR</p>
                                <h4 class="mb-0">$ {{rr_t_clients|floatformat:2}} </h4>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-xl-6 col-xxl-6 col-lg-6">
                <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="me-3 bgl-success text-success">
                                <svg id="icon-customers" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </span>
                            <div class="media-body">
                                <p class="mb-1">RR CLIENTS</p>
                                <h4 class="mb-0">{{rr_q_clients}} </h4>
                            </div>
                        </div>                                
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-xxl-6 col-lg-6">
                <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="me-3 bgl-primary text-primary">
                                <svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                                    <line x1="12" y1="1" x2="12" y2="23"></line>
                                    <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                </svg>
                            </span>
                            <div class="media-body">
                                <p class="mb-1">Sales RR {{month}}</p>
                                <h4 class="mb-0">{{rr_this|floatformat:2}}</h4>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    
            <div class="col-xl-6 col-xxl-6 col-lg-6">
                <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="me-3 bgl-warning text-warning">
                                <svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                                    <line x1="12" y1="1" x2="12" y2="23"></line>
                                    <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                </svg>
                            </span>
                            <div class="media-body">
                                <p class="mb-1">One Off {{month}}</p>
                                <h4 class="mb-0">{{one_this|floatformat:2}} </h4>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>  

        <div class="row">
            <div class="col-xl-6 col-xxl-6 col-lg-6">
                <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="me-3 bgl-danger text-danger">
                                <i class="bi bi-dash-circle"></i>


                            </span>
                            <div class="media-body">
                                <p class="mb-1">Cancellations {{month}}</p>
                                <h4 class="mb-0">{{cancell_q}} </h4>
                            </div>
                        </div>                        
                    </div>
                </div>  
            </div>   
 
            <div class="col-xl-6 col-xxl-6 col-lg-6">
                <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="me-3 bgl-dark text-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 16 3 C 8.832031 3 3 8.832031 3 16 C 3 23.167969 8.832031 29 16 29 C 23.167969 29 29 23.167969 29 16 C 29 8.832031 23.167969 3 16 3 Z M 16 5 C 22.085938 5 27 9.914063 27 16 C 27 22.085938 22.085938 27 16 27 C 9.914063 27 5 22.085938 5 16 C 5 9.914063 9.914063 5 16 5 Z M 16 11.09375 L 15.28125 11.78125 L 9.28125 17.78125 L 10.71875 19.21875 L 16 13.9375 L 21.28125 19.21875 L 22.71875 17.78125 L 16.71875 11.78125 Z"/></svg>                            </span>
                            <div class="media-body">
                                <p class="mb-1">Blue today</p>
                                <h4 class="mb-0">{{blue}} </h4>
                            </div>
                        </div>                        
                    </div>
                </div>   
            </div>   
        </div>
    </div>

         

     


    <div class="col-xl-3 col-xxl-3 col-lg-3">
        <div class="card dlab-join-card h-auto">
            <div class="card-body">
                <div class="dlab-media d-flex justify-content-between">
                    <div class="dlab-content">
                        <h4 class="py-4"> Hi, {{request.user}}.</h4>
                            <h3> {{hour}}</h3>
                    </div>	
                    <div class="dlab-icon">
                        <img src="{% static 'dashboard/images/vector/calpng.png' %}" alt="" class="cal-img">
                        <img src="{% static 'dashboard/images/vector/book.png' %}" alt="" class="book-img">
                    </div>
                </div>
            </div>
        </div>           
        
    </div>   


</div>

<div class="row">


    <div class="col-xl-4 col-xxl-4 col-m-4">

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">ACCOUNTS BY SERVICE </h4>
            </div>
            <div class="card-body">
                <canvas id="cbys"></canvas>

            </div>
        </div>
    </div>

    
    

    <div class="col-xl-8 col-xxl-8 col-m-8">
        <div class="card">
            <div class="card-header border-0 flex-wrap mt-4">
                <h4>RR by Service</h4>
                <form method="get">
                    <div class="d-flex flex-row-reverese">
                        <select id='date-dropdown' name="year" class="form-control">
                        </select>
                        <span><input type="submit" class="btn btn-outline-dark ms-2"></span>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div id="LineChart"></div>
            </div>
        </div>
    </div>

</div>



<div class="row">
    <div class="col-xl-8 col-xxl-8 col-m-8">

        <div class="card score-active">

            <div class="card-header border-0 pb-2 flex-wrap">
                <h4>RR SALES</h4>

                <div class="d-flex">
                    <div class="round weekly d-flex" id="dzOldSeries">
                        <div>
                            <input type="checkbox" id="checkbox1" name="radio" value="weekly" />
                            <label for="checkbox1" class="checkmark"></label>
                        </div>
                        <div>
                            <span class="fs-14">This Year</span>
                        </div>
                    </div>

                    <div class="round d-flex" id="dzNewSeries">
                        <div>
                            <input type="checkbox" id="checkbox2" name="radio" value="monthly" />
                            <label for="checkbox2" class="checkmark"></label>
                        </div>
                        <div>
                            <span class="fs-14">Last Year</span>
                        </div>	
                    </div>
                </div>                                
            </div>

            <div class="card-body pb-1 custome-tooltip pt-0">
                <div id="chartBar" class="chartBar"></div>
            </div>        

        </div>
    </div>

        <div class="col-xl-4 col-xxl-4 col-m-4">

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">ACCOUNTS BY TIER </h4>
                </div>
                <div class="card-body">
                    <canvas id="pie_chart"></canvas>
                </div>
            </div>
        </div>       
           
    </div>
   
</div>


{% endblock %}

{% block additional_js %}




<script>
    $(function () {
        $('#datetimepicker').datetimepicker({
            inline: true,
        });
    });
    
    $(document).ready(function(){
        $(".booking-calender .fa.fa-clock-o").removeClass(this);
        $(".booking-calender .fa.fa-clock-o").addClass('fa-clock');
    });
    
    
</script>

<script>
    let dateDropdown = document.getElementById('date-dropdown'); 
         
    let currentYear = new Date().getFullYear();    
    let earliestYear = 2010;     
    while (currentYear >= earliestYear) {      
      let dateOption = document.createElement('option');          
      dateOption.text = currentYear;      
      dateOption.value = currentYear;        
      dateDropdown.add(dateOption);      
      currentYear -= 1;    
    }
  </script>

<script>

    (function($) {
        /* "use strict" */
        
     var dlabChartlist = function(){
        
        var screenWidth = $(window).width();
        let draw = Chart.controllers.line.__super__.draw; //draw shadow
        
        var chartBar = function(){
            var options = {
                  series: [
                    {
                        name: 'This',
                        data: [{{enero}}, {{febrero}}, {{marzo}}, {{abril}},{{mayo}}, {{junio}}, {{julio}}, {{agosto}},{{septiembre}}, {{octubre}},{{noviembre}}, {{diciembre}}],
                        //radius: 12,	
                    }, 
                    {
                      name: 'Last',
                      data: [{{enero_l}}, {{febrero_l}}, {{marzo_l}}, {{abril_l}},{{mayo_l}}, {{junio_l}}, {{julio_l}}, {{agosto_l}},{{septiembre_l}}, {{octubre_l}},{{noviembre_l}}, {{diciembre_l}}]
                    }, 
                    
                ],
                chart: {
                    type: 'bar',
                    height: 285,
                    
                    toolbar: {
                        show: false,
                    },
                    
                },
                plotOptions: {
                  bar: {
                    horizontal: false,
                    columnWidth: '35%',
                    endingShape: "rounded",
                    borderRadius: 2,
                  },
                  
                },
                states: {
                  hover: {
                    filter: 'none',
                  }
                },
                colors:['var(--primary)', 'var(--secondary)'],
                dataLabels: {
                  enabled: false,
                },
                markers: {
                    shape: "circle",
                },
            
            
                legend: {
                    show: false,
                    fontSize: '14px',
                    position: 'top',
                    labels: {
                        colors: '#000000',
                        
                        },
                    markers: {
                    width: 18,
                    height: 18,
                    strokeWidth:50,
                    strokeColor: '#fff',
                    fillColors: undefined,
                    radius: 12,	
                    }
                },
                stroke: {
                  show: true,
                  width:3,
                  curve: 'smooth',
                  lineCap: 'round',
                  colors: ['transparent']
                },
                grid: {
                    borderColor: '#eee',
                },
                xaxis: {
                    position: 'bottom',
                      categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                      labels: {
                       show: true,
                       style: {
                          colors: '#999999',
                          fontSize: '14px',
                          fontFamily: 'poppins',
                          fontWeight: 400,
                          cssClass: 'apexcharts-xaxis-label',
                        },
                      },
                       axisBorder:{
                         show: false,  
                           
                         },
                      crosshairs: {
                      show: false,
                  }
                },
                yaxis: {
                    labels: {
                        offsetX:-16,
                       style: {
                          colors: '#787878',
                          fontSize: '13px',
                           fontFamily: 'poppins',
                          fontWeight: 100,
                          cssClass: 'apexcharts-xaxis-label',
                      },
                  },
                },
                fill: {
                  opacity: 1,
                  colors:['var(--secondary)', 'var(--primary)'],
                },
                tooltip: {
                  y: {
                    formatter: function (val) {
                      return " " + val + ""
                    }
                  }
                },
            };
            if(jQuery("#chartBar").length > 0){
    
                var chart = new ApexCharts(document.querySelector("#chartBar"), options);
                    chart.render();
                
                jQuery('#dzNewSeries').on('change',function(){
                    jQuery(this).toggleClass('disabled');
                    chart.toggleSeries('This');
                });
                
                jQuery('#dzOldSeries').on('change',function(){
                    jQuery(this).toggleClass('disabled');
                    chart.toggleSeries('Last');
                });
            };
        }


        var chartLine = function(){
            var options = {
                  series: [
                    {
                        name: 'Thiss',
                        data: [{{enero_o}}, {{febrero_o}}, {{marzo_o}}, {{abril_o}},{{mayo_o}}, {{junio_o}}, {{julio_o}}, {{agosto_o}},{{septiembre_o}}, {{octubre_o}},{{noviembre_o}}, {{diciembre_o}}],
                        //radius: 12,	
                    }, 
                    {
                      name: 'Lasts',
                      data: [{{enero_l_o}}, {{febrero_l_o}}, {{marzo_l_o}}, {{abril_l_o}},{{mayo_l_o}}, {{junio_l_o}}, {{julio_l_o}}, {{agosto_l_o}},{{septiembre_l_o}}, {{octubre_l_o}},{{noviembre_l_o}}, {{diciembre_l_o}}]
                    }, 
                    
                ],
                chart: {
                    type: 'bar',
                    height: 285,
                    
                    toolbar: {
                        show: false,
                    },
                    
                },
                plotOptions: {
                  bar: {
                    horizontal: false,
                    columnWidth: '35%',
                    endingShape: "rounded",
                    borderRadius: 2,
                  },
                  
                },
                states: {
                  hover: {
                    filter: 'none',
                  }
                },
                colors:['var(--primary)', 'var(--secondary)'],
                dataLabels: {
                  enabled: false,
                },
                markers: {
                    shape: "circle",
                },
            
            
                legend: {
                    show: false,
                    fontSize: '14px',
                    position: 'top',
                    labels: {
                        colors: '#000000',
                        
                        },
                    markers: {
                    width: 18,
                    height: 18,
                    strokeWidth:50,
                    strokeColor: '#fff',
                    fillColors: undefined,
                    radius: 12,	
                    }
                },
                stroke: {
                  show: true,
                  width:3,
                  curve: 'smooth',
                  lineCap: 'round',
                  colors: ['transparent']
                },
                grid: {
                    borderColor: '#eee',
                },
                xaxis: {
                    position: 'bottom',
                      categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                      labels: {
                       show: true,
                       style: {
                          colors: '#999999',
                          fontSize: '14px',
                          fontFamily: 'poppins',
                          fontWeight: 400,
                          cssClass: 'apexcharts-xaxis-label',
                        },
                      },
                       axisBorder:{
                         show: false,  
                           
                         },
                      crosshairs: {
                      show: false,
                  }
                },
                yaxis: {
                    labels: {
                        offsetX:-16,
                       style: {
                          colors: '#787878',
                          fontSize: '13px',
                           fontFamily: 'poppins',
                          fontWeight: 100,
                          cssClass: 'apexcharts-xaxis-label',
                      },
                  },
                },
                fill: {
                  opacity: 1,
                  colors:['var(--secondary)', 'var(--primary)'],
                },
                tooltip: {
                  y: {
                    formatter: function (val) {
                      return " " + val + ""
                    }
                  }
                },
            };
            if(jQuery("#chartLine").length > 0){
    
                var chart = new ApexCharts(document.querySelector("#chartLine"), options);
                    chart.render();
                
                jQuery('#dzNewSeriess').on('change',function(){
                    jQuery(this).toggleClass('disabled');
                    chart.toggleSeries('Thiss');
                });
                
                jQuery('#dzOldSeriess').on('change',function(){
                    jQuery(this).toggleClass('disabled');
                    chart.toggleSeries('Lasts');
                });
            };
        }
               
        
 
     
        /* Function ============ */
            return {
                init:function(){
                },
                
                
                load:function(){
                    chartBar();
                    chartLine();
                    
                },
                
                resize:function(){
                }
            }
        
        }();
    
        
            
        jQuery(window).on('load',function(){
            setTimeout(function(){
                dlabChartlist.load();
            }, 1000); 
            
        });
    
         
    
    })(jQuery);


</script>



<script>
    

(function($) {
    /* "use strict" */
	
 var dlabChartlist = function(){
	
	var screenWidth = $(window).width();
	
			
		var LineChart = function(){
		var options = {
			series: [{
				name: 'SEO',
				data: [{{enero_seo}}, {{febrero_seo}}, {{marzo_seo}}, {{abril_seo}}, {{mayo_seo}}, {{junio_seo}}, {{julio_seo}}, {{agosto_seo}}, {{septiembre_seo}}, {{octubre_seo}}, {{noviembre_seo}}, {{diciembre_seo}},]
			}, {
				name: 'Google Ads',
				data: [{{enero_gads}}, {{febrero_gads}}, {{marzo_gads}}, {{abril_gads}}, {{mayo_gads}}, {{junio_gads}}, {{julio_gads}}, {{agosto_gads}}, {{septiembre_gads}}, {{octubre_gads}}, {{noviembre_gads}}, {{diciembre_gads}},]
			}, {
				name: 'Community Management',
				data: [{{enero_cm}}, {{febrero_cm}}, {{marzo_cm}}, {{abril_cm}}, {{mayo_cm}}, {{junio_cm}}, {{julio_cm}}, {{agosto_cm}}, {{septiembre_cm}}, {{octubre_cm}}, {{noviembre_cm}}, {{diciembre_cm}},]
			}, {
				name: 'Web Plan',
				data: [{{enero_wp}}, {{febrero_wp}}, {{marzo_wp}}, {{abril_wp}}, {{mayo_wp}}, {{junio_wp}}, {{julio_wp}}, {{agosto_wp}}, {{septiembre_wp}}, {{octubre_wp}}, {{noviembre_wp}}, {{diciembre_wp}},]
			}, {
				name: 'Facebook Ads',
				data: [{{enero_fads}}, {{febrero_fads}}, {{marzo_fads}}, {{abril_fads}}, {{mayo_fads}}, {{junio_fads}}, {{julio_fads}}, {{agosto_fads}}, {{septiembre_fads}}, {{octubre_fads}}, {{noviembre_fads}}, {{diciembre_fads}},]
			}, 
            {
				name: 'Combo',
				data: [{{enero_combo}}, {{febrero_combo}}, {{marzo_combo}}, {{abril_combo}}, {{mayo_combo}}, {{junio_combo}}, {{julio_combo}}, {{agosto_combo}}, {{septiembre_combo}}, {{octubre_combo}}, {{noviembre_combo}}, {{diciembre_combo}},]
			},
             {
				name: 'LinkedIn',
				data: [{{enero_lk}}, {{febrero_lk}}, {{marzo_lk}}, {{abril_lk}}, {{mayo_lk}}, {{junio_lk}}, {{julio_lk}}, {{agosto_lk}}, {{septiembre_lk}}, {{octubre_lk}}, {{noviembre_lk}}, {{diciembre_lk}},]
			}],
			chart: {
				type: 'bar',
				height: 350,
				stacked: true,
				toolbar: {
					show: false,
				}
			},
			
			plotOptions: {
				bar: {
					horizontal: false,
					columnWidth: '80%',
					
					endingShape: "rounded",
					startingShape: "rounded",
					backgroundRadius: 10,
					colors: {
						backgroundBarColor: '#fff',
						backgroundBarOpacity: 1,
						backgroundBarRadius: 10,
					},
				},
				
			},
			stroke:{
				width:8,
				colors:["#fff"]
			},
			colors:['#FF6384', '#36A2EB', '#FF6384', '#9966FF', '#FFCE56', '#FF9900', '#4BC0C0'],
			xaxis: {
				show: true,
				axisBorder: {
					show: false,
				},
				
				labels: {
					style: {
						colors: '#828282',
						fontSize: '14px',
						fontFamily: 'Poppins',
						fontWeight: 'light',
						cssClass: 'apexcharts-xaxis-label',
					},
				},
				crosshairs: {
					show: false,
				},
				
				categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul','Aug','Sep','Oct','Nov','Dec'],
			},
			yaxis: {
				show: true,
				labels: {
					style: {
						colors: '#828282',
						fontSize: '14px',
						fontFamily: 'Poppins',
						fontWeight: 'light',
						cssClass: 'apexcharts-xaxis-label',
					},
				},
			},
			grid: {
				show: true,
				borderColor: '#DBDBDB',
				strokeDashArray: 10,
				position: 'back',
				xaxis: {
					lines: {
						show: false
					}
				},   
				yaxis: {
					lines: {
						show: true
					}
				},  
			},
			toolbar: {
				enabled: false,
			},
			dataLabels: {
			  enabled: false
			},
			legend: {
				show:false
			},
			fill: {
				opacity: 1
			},
			responsive: [{
				breakpoint: 1601,
				options: {
					plotOptions: {
						bar: {
							columnWidth: '60%',
						},
						
					},
				},
			}]
		};

		var chart = new ApexCharts(document.querySelector("#LineChart"), options);
		chart.render();
	}
	
    var pieChart = function(){
		//pie chart
		if(jQuery('#pie_chart').length > 0 ){
			//pie chart
			const pie_chart = document.getElementById("pie_chart").getContext('2d');
			// pie_chart.height = 100;
			new Chart(pie_chart, {
				type: 'pie',
				data: {
					defaultFontFamily: 'Poppins',
					datasets: [{
						data: [{{i}}, {{ii}}, {{iii}}, {{iv}}, {{v}}],
						borderWidth: 0, 
						backgroundColor: [
							"rgba(235, 129, 83, .9)",
							"rgba(235, 129, 83, .7)",
							"rgba(235, 129, 83, .5)",
                            
							"rgba(0,0,0,0.07)"
						],
						hoverBackgroundColor: [
							"rgba(235, 129, 83, .9)",
							"rgba(235, 129, 83, .7)",
							"rgba(235, 129, 83, .5)",
							"rgba(0,0,0,0.07)"
						]

					}],
					labels: [
						"TIER I",
						"TIER II",
						"TIER III", 
						"TIER IV",
                        "TIER V"
					]
				},
				options: {
					plugins:{
						legend: true, 
					},	
					responsive: true, 
					
					//maintainAspectRatio: false
				}
			});
		}
	}
	
 
	/* Function ============ */
		return {
			init:function(){
			},
			
			
			load:function(){
				LineChart();
                pieChart();
				
			},
			
			resize:function(){
			}
		}
	
	}();

	
		
	jQuery(window).on('load',function(){
		setTimeout(function(){
			dlabChartlist.load();
		}, 1000); 
		
	});

     

})(jQuery);

</script>


<script>
    // Get the query parameter from the URL
    const queryParams = new URLSearchParams(window.location.search);
    const selectedYear = queryParams.get('year');

    // Set the value of the select field
    const selectField = document.querySelector('#date-dropdown');
    if (selectedYear) {
        selectField.value = selectedYear;
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/pie-chart.js' %}"></script>
<script>


document.addEventListener("DOMContentLoaded", function(event) {
    var ctx = document.getElementById("cbys").getContext("2d");
    var data = {
      labels: ["SEO", "Google Ads", "Facebook Ads", "LinkedIn", "Web Plan", "Combo", "Community Management", "Email Marketing", "Others RR"],
      datasets: [
        {
          data: [{{seo_clients}}, {{gads_clients}}, {{fads_clients}}, {{lkdn_clients}}, {{wp_clients}}, {{combo_clients}}, {{cm_clients}}, {{emk_clients}}, {{other_clients}}],
          backgroundColor: [
            "#FF6384",
            "#36A2EB",
            "#FFCE56",
            "#4BC0C0",
            "#9966FF",
            "#FF9900",
            "#FF6384",
            "#36A2EB",
            "#FFCE56"
          ],
          hoverBackgroundColor: [
            "#FF6384",
            "#36A2EB",
            "#FFCE56",
            "#4BC0C0",
            "#9966FF",
            "#FF9900",
            "#FF6384",
            "#36A2EB",
            "#FFCE56"
          ]
        }
      ]
    };
  
    var options = {
      responsive: true,
      maintainAspectRatio: false
    };
  
    var myPieChart = new Chart(ctx,{
      type: 'pie',
      data: data,
      options: options
    });
  });

</script>

{% endblock %}