{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}


        
<!-- TIER CONF -->

    <div class="row">

           
                <div class="col-xl-10 m-auto">
                    <div class="card">
                        <div class="card-body">
                            <form  method="post">  
                                {% csrf_token %}
                                <div class="basic-list-group">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center my-3 flex-row-reverse">
                                            <div class="col-lg-9"> {{form.tier_i}}</div><h2 class="me-2">> </h2> <h4 class="me-5"> TIER I :</h4>                                            
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center my-3 flex-row-reverse">
                                            <div class="col-lg-9"> {{form.tier_ii}}</div> <h2 class="me-2"> < </h2> <h4 class="me-5"> TIER II :</h4>    
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center my-3 flex-row-reverse">
                                            <div class="col-lg-9"> {{form.tier_iii}} </div> <h2 class="me-2"> < </h2> <h4 class="me-5"> TIER III :</h4>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center my-3 flex-row-reverse">
                                            <div class="col-lg-9"> {{form.tier_iv}}</div><h2 class="me-2"> < </h2> <h4 class="me-5"> TIER IV :</h4>    
                                        </li>
                                    </ul>
                                </div>

                                <div class="form-floating my-5 d-flex flex-row m-auto col-md-6">
                                    <button type="submit" class="shadow-sm btn btn-secondary px-5" name="edittier"><i class="fa-solid fa-check me-2"></i> Save new Settings</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>                      


    </div>
<!-- END TIER CONF -->


{% endblock %}

{% block additional_js %}

{% endblock %}
