{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}

        
        <!-- MAIN -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                  
                    <div class="card-body">
                        <h2>aca van unos buenos gráficos</h2>
                    </div>

                </div>
                <p>DATA: [{{enero}}, {{febrero}}, {{marzo}}, {{abril}}, {{mayo}}, {{junio}}, {{julio}}, {{agosto}}, {{septiembre}}, {{octubre}}, {{noviembre}}, {{diciembre}}],</p>
            </div>

        </div>




{% endblock %}

{% block additional_js %}

{% endblock %}
